html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #2B1105;
  font-family: 'Montaga', serif;
  background: #FCF9F7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section__title {
  font-weight: 700;
  font-size: 59.3px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
}

.section__text {
  font-weight: 500;
  font-size: 22.65px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
}
